services:
  db:
    image: postgres:16-alpine
    environment:
      POSTGRES_USER: foodics
      POSTGRES_PASSWORD: foodics_password
      POSTGRES_DB: foodics_development
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U foodics"]
      interval: 5s
      timeout: 5s
      retries: 5

volumes:
  postgres_data:
